.Navbar {
  height: 60px;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: #666666 solid 1px;
  box-shadow: 0 0 10px rgba(0, 200, 255, .5);
  z-index: 100;
  opacity: 0.95;
  transition: opacity ease-in-out 0.1s, background ease-in-out 0.1s, color ease-in-out 0.1s;

  .Navbar__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;

    .Navbar__logo--icon {
      margin-right: 10px;
    }

    .Navbar__logo--header {
      font-style: italic;
      font-weight: lighter;
    }
  }
}

.Navbar__sticky {
  position: sticky;
  top: 0;
  left: 0;
  background: black;
  color: white;
}


